body {
  margin: 0;
  font-family: 'courier', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-nav {
  text-align: right;
  margin-bottom: 50px;
  padding: 0 25px;
}

a {
  color: rgb(2, 85, 2);
  text-decoration: none;
  transition: all .25s ease;
}

a:hover {
  color: rgb(12, 143, 12);
  text-decoration: underline;
}

.main-nav a {
  display: inline-block;
  padding: 25px 25px;
}
